<%= simple_form_for(@pin,html:{class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :image %> 
  
  <div class="form-inputs well">
  	
    <%= f.input :description, as: :text, input_html: { rows: "3"}  %>
</div>
  </div>


  <div class="form-actions well">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
 
<% end %>
